@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600&display=swap');

@tailwind utilities;

.hero-bg {
  background-image: url('/img/better-us-bg.jpg');
  background-size: cover;
  background-position: center;
}

